<!DOCTYPE html>
<html>
    <head>
        <title>404 Not Found - Security 2 encryption</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />
    </head>
    <body>
        <h3><%= message %></h3>
    </body>
</html>